grant {
   permission java.util.PropertyPermission "user.dir", "read";
   permission java.net.SocketPermission "*:1024-65535", "connect,accept";
   permission java.net.SocketPermission "*:80", "connect";
   permission java.io.FilePermission "/Users/krishnakothandaraman/eclipse-workspace/Assignment1_J-24/src/authfiles/UserInfo.txt", "read,write";
   permission java.io.FilePermission "/Users/krishnakothandaraman/eclipse-workspace/Assignment1_J-24/src/authfiles/OnlineUser.txt", "read,write,delete";
   permission java.io.FilePermission "/Users/krishnakothandaraman/eclipse-workspace/Assignment1_J-24/src/authfiles/temp.txt", "read,write";
};
